/* Common */
.o-width-5em {
    min-width: 5em;
}
.o-width-8em {
    min-width: 8em;
}
.o-width-10em {
    min-width: 10em;
}
.o-width-15em {
    min-width: 15em;
}
.o-width-20em {
    min-width: 20em;
}